.container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.heading{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 1rem;
}
.container label,
.goalsContainer label,
.medicalInfoLabel {
    font-weight: 600;
    margin-bottom: 0.3rem;
    display: block;
}
.container input,
.container select,
.goalsContainer input,
.goalsContainer select,
.medicalInfoInput {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border: 1px solid #6b7280;
  border-radius: 0.75rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.container input:focus,
.container select:focus,
.goalsContainer input:focus,
.goalsContainer select:focus {
  border-color: #4caf50;
  outline: none;
}
.goalsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 2rem;
}
.marginBottom{
    margin-bottom: 1rem;
}
.gridCheckBox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    margin-top: 0.5rem;
}
.checkboxLabel {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}
.checkboxLabel input[type="checkbox"] {
    accent-color: #4CAF50;
    width: 1rem;
    height: 1rem;
    border: 2rem solid #6b7280;
}
